@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Geologica&display=swap");
body {
  background-color: #fdefee;
  padding-top: 20px;
  padding-left: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  &__bienvenida {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 24px;
      font-family: "Geologica", sans-serif;
    }
    p {
      font-size: 14px;
      padding-top: 10px;
      color: gray;
      font-family: "Geologica", sans-serif;
    }
  }
  &__disponibles {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    top: 20px;
    h2 {
      font-size: 20px;
      font-family: "Geologica", sans-serif;
    }
    p {
      font-size: 14px;
      color: #fb164c;
      font-family: "Geologica", sans-serif;
    }
  }
  &__usuario {
    display: flex;
    position: absolute;
    top: 30px;
    left: 230px;
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
  &__pizzas {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    h2 {
      color: white;
      position: absolute;
      text-align: left;
      top: 130px;
      left: 12px;
      font-size: 14px;
      width: 150px;
      font-family: "Geologica", sans-serif;
    }

    button {
      display: flex;
      position: absolute;
      top: 103px;
      left: 170px;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background-color: #fb164c;
      color: white;
      border: none;
      width: 78px;
      height: 30px;
      border-radius: 23px;
      h4 {
        font-weight: 800;
        font-family: "Geologica", sans-serif;
      }
      h3 {
        font-size: 12px;
        font-weight: lighter;
        font-family: "Geologica", sans-serif;
      }
    }
  }
  
  &__carrito {
    display: flex;
    position: fixed;
    top: 430px;
    left: 130px;
    background-color: white;
    width: 60px;
    height: 60px;
    justify-content: center;
    border-radius: 50%;
    -webkit-box-shadow: 6px 21px 60px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 21px 60px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 21px 60px -15px rgba(0, 0, 0, 0.75);
    button {
      background-color: transparent;
      border: none;
      color: grey;
    }
  }
}



.custom-carousel {
  .carousel .thumbs-wrapper {
    display: flex;
  }

  .carousel .carousel-status {
    display: none;
  }

  .carousel .carousel-arrow {
    display: none;
  }
  .carousel .control-dots {
    position: relative;
    bottom: -170px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .carousel .carousel-indicators {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60%;

    li {
      margin: 0 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: gray;

      &.selected {
        background-color: black;
      }
    }
  }
}

.carousel.carousel-slider .control-arrow {
  display: none;
}

.contenedor__item {
  width: 97%;
  position: relative;
}
.contenedor__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  border-radius: 10px;
}
.contenedor__img {
  width: 170px;
  height: 170px;
  display: block;
  border-radius: 10px;
  display: flex;
}
