.main{
    background-image: url('https://img.freepik.com/foto-gratis/hojas-menta-secas-rocian-sobre-pizza-pollo_140725-5011.jpg?size=626&ext=jpg&ga=GA1.1.922502611.1677085759&semt=sph');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
     padding: 20px;
    &__title{
        .iconPizza{
            color: #fff;
            transform: rotate(-75deg);
         }
         span{
            p{
                color: #fff;
            }
         }
    }
    
    &__cuenta {
       h2 {
        font-size: 14px;
        color: white;
       }
    }
    &__registro{
        h3 {
            color: white;
            
        }
        h1{
            color: white;
        }
        p {
            color: white;
        }
    }
}
